<footer>
      <p>
      <img src="https://o5m4n.github.io/assets/mex.png" alt="mexico.png" width="35" height="32">
      <img src="https://o5m4n.github.io/assets/us.png" alt="us.png" width="35" height="30">
      </p>
      {% include social-links.html %}
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
</footer>
