---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  <span class="post-tags">
    [&nbsp;
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a class="tag-style" href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>    
    {% endfor %}
    ]
  </span> 
  <br>
  <span> <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time> </span>
  {{ content }}
</article>
